<h2 style="font-weight:bold">My Todos 
  <button class="btn btn-outline-primary btn-sm" (click)="newTodo()">Create New Todo</button>
</h2>
<div class="alert alert-success" *ngIf="deletedMessage"> {{deletedMessage}}   </div>
  <ng-container *ngIf="listTodo as todo; else emptyData">
      <table class="table table-striped" style="margin-top:30px;" >
          <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Target Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of todo" >
                <td>{{data.todoId}}</td>
                <td>{{data.description }}</td>
                <td>{{data.status}}</td>
                <td>{{data.targetDate}}</td>
                <td>
                  <button class="btn btn-info btn-sm" (click)="updateTodo(data.userId, data.todoId)">Update</button>&nbsp;
                  <button class="btn btn-danger btn-sm" (click)="deleteById(data.userId, data.todoId)">Delete</button>
                </td>
                </tr>
            </tbody>
      </table>
  </ng-container>
  <ng-template #emptyData>No Data Found</ng-template>
